@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
    font-family: 'Noto Serif', serif;
    width: center, 80%;
    background-color: #66ccff;
    max-width: 1050px;
    margin: auto;
}

h2, h3 {
    color: brown;
}

/* Intro */
.intro {
    display: flex;
    margin-bottom: 20px;
    background-color: #ffffcc;
    padding: 20px 20px 20px 20px;
    box-shadow: 4px 4px 14px #004466;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro_img {
    border-radius: 20px;
    margin: 20px;
    width: 400px;
    border: solid 2px brown;
}

.intro_text {
    margin: 20px;
}

.intro_text > *, a {
    color: brown;
    text-decoration: none;
}

.intro_text a:hover {
    text-decoration: underline;
}

.intro_text h1 {
    text-shadow: 2px 2px 24px #ff0000;
}

.first_block_item > *, a{
    color: brown;  
}

.first_block_item h1{
    text-shadow: 2px 2px 24px #ff0000;
}

/* Info_block */
.info_block {
    color: #444;
    background-color: #ffffcc;
    padding: 5px 20px 20px 20px;
    box-shadow: 4px 4px 14px #004466;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: justify;
    clear: both;
}

.info_block li {
    margin-bottom: 0.5em;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border-bottom: 1px solid gray;
    padding: 8px;
    
}

table tr:nth-child(even){
    background-color: #ffffe6;
}

/* Footer */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #66ccff;
}
